<%- include("../../layouts/header/index.ejs") %>

<form class="mt-3 g-3 needs-validation" novalidate action="" enctype="multipart/form-data"
id="cart_form">
    <div class="col-md-4">
      <div class="form-outline">
        <input type="text" name="name" class="form-control" id="name" readonly <%
        if(locals.blog && blog){ %> value="<%= blog.name %>" <% } %>  />
        <label for="validationCustom01" class="form-label">Name</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-outline">
        <input type="text" class="form-control" name="price" id="price" readonly <%
        if(locals.blog && blog){ %> value="<%= blog.price %>" <% } %>  />
        <label for="validationCustom02" class="form-label">Price</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="form-outline">
          <input type="number" class="form-control" name="quantity" id="quantity" <%
          if(locals.blog && blog){ %> value="<%= blog.quantity %>" <% } %> required />
          <label for="validationCustom01" class="form-label">Quantity</label>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>


<%- include("../../layouts/footer/index.ejs") %>

<script>
     $("form#cart_form").submit(function(event){
        event.preventDefault();
        const blog_stringify = JSON.stringify(`<% if(locals.blog && blog){ %><%-  blog["_id"] %> <% } %>`);
        const blog = JSON.parse(blog_stringify);
        var form_Data = new FormData();
        form_Data.append('name',$('#name').val());
        form_Data.append('price',$('#price').val());
        form_Data.append('quantity',$('#quantity').val());
       $.ajax({
      type: "post",
      url: "/blog/update_cart_form/"+blog,
      processData: false,
      contentType: false,
      data: form_Data,
      success: function (data) {
        if (data == true) {
          window.location.href = "/blog/list";
        }
      },
      error: function (data) {
        alert(data.responseJSON.errors);
      },
    });
});
</script>

</body>

</html>